<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="aluno-menu"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <h2 text-center padding>Encontrou algum erro ou deseja entrar em contato com os desenvolvedores?</h2>

  <p text-center padding>Vai em frente! Abaixo estão as nossas opções para contato:</p>

  <div>
    <ion-button expand="block" (click)="openFacebook()">
      <ion-icon name="logo-facebook" slot="start"></ion-icon>Facebook
    </ion-button>
  </div>

  <div padding id="email">
    <ion-list>
      <ion-item>
        <ion-label position="floating">Seu e-mail</ion-label>
        <ion-input type="text" [(ngModel)]="cc"></ion-input>
      </ion-item>
    </ion-list>
    <ion-list>
      <ion-item>
        <ion-label position="floating">Comentário</ion-label>
        <ion-input type="text" [(ngModel)]="body"></ion-input>
      </ion-item>
    </ion-list>
  </div>
  <ion-button expand="block" color="danger" (click)="openMail()">
    <ion-icon name="mail" slot="start"></ion-icon>Enviar E-mail
  </ion-button>

</ion-content>

<ion-footer>
  <p text-center>BusIFPI -- v1.0</p>
</ion-footer>