<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="aluno-menu"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
<h2>Encontrou algum erro ou deseja entrar em contato com os desenvolvedores?</h2>
<p>Vai em frente! Abaixo estão as nossas opções para contato:</p>

<ion-buttons>
<ion-button><ion-icon name="whatsapp-logo" slot="start"></ion-icon></ion-button><br/>
<ion-button><ion-icon name="tel" slot="start"></ion-icon></ion-button><br/>
<ion-button><ion-icon name="gmail-logo" slot="start"></ion-icon></ion-button>
</ion-buttons>
</ion-content>

<ion-footer>
<ion-buttons>
  <ion-icon name="arrow-round-back" slot="start"></ion-icon>
  <ion-button fill="clear">Voltar</ion-button>
</ion-buttons>
</ion-footer>
