<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="aluno-menu"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <h2 text-center padding style="color: red">O que é o BusIFPI?</h2>
  <div>
    <p>
      O BusIFPI é uma aplicação móvel híbrida desenvolvida<br />
      por alunos da turma do curso Técnico em Informática do<br />
      IFPI - Campus Parnaíba.
    </p>
    <h2 text-center padding style="color: green">Objetivo</h2>
    <p>
      O objetivo do aplicativo é ajudar na locomoção dos alunos<br />
      (principalmente os novatos) ao prédio da instituição notificando-os e<br />
      auxiliando na localização do ônibus escolar.
    </p>
    <h2 text-center padding style="color: blue">Contato</h2>
    <p>
      Gostou do nosso aplicativo ou tem alguma sugestão?<br />
      basta visitar a aba de <a [routerLink]="['/aluno-contato']">contato</a> e nos mandar<br />
      uma mensagem :)
    </p>
  </div>
</ion-content>

<ion-footer>
  <p>BusIFPI -- v1.0</p>
</ion-footer>