<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="aluno-menu"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
<h2>O que é o BusIFPI?</h2>
<p>
  O BusIFPI é uma aplicação móvel híbrida desenvolvida<br/>
  por alunos da turma do curso Técnico em Informática do<br/>
  IFPI - Campus Parnaíba.
</p>
<p>
  O objetivo do aplicativo é ajudar na locomoção dos alunos<br/>
  (principalmente os novatos) ao prédio da instituição notificando-os e<br/>
  auxiliando na localização do ônibus escolar.
</p>
<p>
  Gostou do nosso aplicativo ou tem alguma sugestão?<br/>
  basta visitar a aba de <a [routerLink]="['/aluno-contato']">contato</a> e nos mandar<br/>
  uma mensage. :)
</p>
</ion-content>

<ion-footer>
<ion-buttons>
  <ion-icon name="arrow-round-back" slot="start"></ion-icon>
  <ion-button fill="clear">Voltar</ion-button>
</ion-buttons>
</ion-footer>
