ion-title{
    text-align: center;
}

ion-buttons{
    justify-content: center;
}

h2{
    text-align: justify;
    font-family: Verdana;
}

p{
    text-align: center;
    font-family: Verdana;
}

div{
    justify-content: center;
    margin-left: 10%; margin-right: 10%;
}