
div{
    justify-content: center;
}

ion-buttons{
    justify-content: center;
}

#bt{
    padding-top: 15%;
}

.name{
    text-align: center;
    font-family: Verdana, Tahoma, sans-serif;
    font-weight: bold;
}

ion-content{
    font-family: Verdana, Tahoma, sans-serif;
}

#color{
    --bullet-background-active: black;
    --bullet-background: gray;
}

img{
    width: 8%;
}

.sair{
    font-weight: bold;
}